* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Em CSS, o seletor ":root" é um seletor pseudo-classe que se refere ao elemento raiz (root) do documento HTML, ou seja, o elemento HTML <html>. É comumente usado para definir variáveis globais (também conhecidas como variáveis de CSS) que podem ser usadas em todo o documento */
:root {
  --ff-heading: 'Epilogue', sans-serif;

  --hue: 250;
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-heading: 4rem;
}

.page {
  max-width: 33rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: var(--ff-heading);

  background-color: var(--bg-primary);
  color: var(--fc-primary);

  font-size: var(--fs-body);
}

header {
  margin: 10rem 0 8rem;
  font-family: var(--ff-heading);  

  text-align: center;
}

header p {
  font-family: var(--ff-heading);

  color: var(--fc-secondary);
  text-transform: uppercase;

  line-height: 3.2rem;
  letter-spacing: 3px;

  font-weight: 400;

  margin-bottom: 1.7rem;
}

header h1 {
  font-weight: 800;
  font-family: var(--ff-heading);
  line-height: 4.8rem;
}